@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Ndot';
  src: url('/public/fonts/ndot-47.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
